# .gitignore
# Copyright (C) 2017-2018 Michael Rosset <mike.rosset@gmail.com>

# This file is part of Nomad

# Nomad is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the
# Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# Nomad is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.

# You should have received a copy of the GNU General Public License along
# with this program.  If not, see <http://www.gnu.org/licenses/>.

# single
/aclocal.m4
/autom4te.cache
/build-aux
/config.cache
/config.status
/configure
/libtool
/m4
/src/nomad
/guile/resources.c
/stamp-h1
/pre-inst-env
/scheme/nomad/lib.scm
/check-guile
/scheme/data

# multiple
.deps
.libs
Makefile
Makefile.in

# wildcards
*.trs
*.go
*.la
*.lo
*.o
*.x
*.log
*.gir
*.typelib

# magit
/config.h
/config.h.in
/test-suite/test-runner
/tools/coverage
/lcov.info
/coverage
